html 
  head 
    //- bower:css
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    //- endbower

    //- bower:js
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/tether/dist/js/tether.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    //- endbower
    
    //- inject:css
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    //- endinject
    
    //- inject:js
    script(src="/js/bootstrap.min.js")
    //- endinject

  
    title My Application
  body(class='myclass')
    h1(id='myid')  My First Application
    p
      h3 This is a h3 subheading
      ul 
        each val in list
          li= val
